@charset 'utf-8';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #eee;
    color: rgba(0, 0, 0, .87);
    margin: 5.2rem 0 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: auto;
    height: auto;
    padding: 1.6rem;
    background-color: rgba(41, 128, 185, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 .2rem .1rem rgba(0, 0, 0, .12),
                0 0 .2rem .1rem rgba(0, 0, 0, .24);
}

header > .logo {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1;
}

main {
    display: block;
    margin: 0 auto;
    padding: 3.2rem 1rem;
    max-width: 96rem;  /* 960px */
}

.tasks {
    display: block;
    color: rgba(0, 0, 0, .87);
    box-shadow: 0 0 .2rem 0 rgba(0, 0, 0, .12);
    border-radius: .3rem;
}

.tasks > .task {
    display: block;
    padding: 1.44rem;
    background-color: rgba(255, 255, 255, 1);
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: .1rem;
    /*box-shadow: inset 0 -.1rem 0 0 rgba(0, 0, 0, .12);*/

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    cursor: default;
    padding-left: 4.8rem;
}

.tasks > .task:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .57);
}

.tasks > .task:active {
    background-color: rgba(0, 0, 0, .12);
}

.tasks > .task > .checkbox {
    display: none;
}

